* {
  font-family: 'Open Sans', sans-serif;
  color: black;
}
body {
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url('light_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
h3 {
	font-size: 1.5em;
	letter-spacing: 0.2em;
}
.heading {
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 0.2em;
	vertical-align: center;
	border-bottom-style: solid;
	padding: 5%;
}
.personality-profile {
	font-weight: 600;
	padding: 5%;
}
.programming-accomplishments {
	font-weight: 600;
	padding: 5%;
}
footer {
	font-size: 2.5em;
	letter-spacing: 0.2em;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}
